.address_modal{
	background-color: rgba(8, 8, 8, 0.678);
	position: fixed;
	inset: 0 0 0 0;
	z-index:9999;
	/* using this for animation effect */
	opacity: 0; 
	visibility: hidden;
	transition: 300ms ease-in-out, opacity 500ms ease-in-out;
}

.address_modal_wrapper{
	padding: 20px!important;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/* alternate method to show modal by using these classes block and none */

.hideModal{
	/* display: none!important; */
	opacity: 0;
	visibility: hidden;
}

.showModal{
	/* display: block!important; */
	opacity: 1;
	visibility: visible;
}