.list_item_details{
	display: grid;
	grid-template-columns: 9fr 3fr;
	gap: 20px;
}
.listing{
	display: grid;
	grid-template-columns: 3fr 10fr;
	gap: 20px;
}

input[type='checkbox']{
	width: 16px;
	height: 16px;
}
.list-unstyled li label{
	display: flex;
	gap:10px;
	align-items: center;
}

.qty_btns{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 130px;
    gap: 5px;
    text-align: center;
    align-items: center;
}
.qty_btns button{
    background-color: transparent;
    border: none;
}
.qty_btns button:not(:first-child){
	background-color: #ddd;
}
